* {
  margin: 0;
  padding: 0;
  list-style: none;
}
.container {
  width: 100%;
  height: 20vh;
  border: none;
  .lz {
    margin: auto;
    position: relative;
    width: 200px;
    height: 300px;
  }
  .lz::before {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-bottom: 200px solid #9dc831;
    border-left: 80px solid transparent;
    border-top: 80px solid transparent;
    transform: skewY(20deg);
    filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.5));
  }
  .lz::after {
    position: absolute;
    content: '';
    left: 80px;
    width: 0;
    height: 0;
    border-bottom: 200px solid #669300;
    border-right: 80px solid transparent;
    border-top: 80px solid transparent;
    transform: skewY(-20deg);
    filter: drop-shadow(6px 6px 5px rgba(0, 0, 0, 0.5));
  }
  .lz div {
    position: absolute;
    bottom: 7px;
    left: 78px;
    width: 4px;
    height: 192px;
    background: #fff;
    z-index: 9;
    opacity: 0.3;
    box-shadow: 0px -2px 4px 1px #fff;
  }
}

.slider-demo-block {
  max-width: 400px;
  display: flex;
  align-items: center;
}
.slider-demo-block .el-slider {
  margin-top: 0;
  margin-left: 12px;
}
.slider-demo-block .demonstration {
  font-size: 14px;
  color: var(--el-text-color-secondary);
  line-height: 44px;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 0;
}
.slider-demo-block .demonstration + .el-slider {
  flex: 0 0 90%;
}
