* {
  padding: 0;
  margin: 0;
  list-style: none;
}
header{
    display: flex;
    justify-content: center;
}
.container {
  width: 100%;
  height: 30vh;
  border: none;
  .cube {
    position: relative;
    width: 200px;
    height: 90vh;
    transform-style: preserve-3d;
    transform: rotateX(-30deg) rotateY(45deg);
    margin: auto;
    top: 50vh;
    transform: translateY(-50%) rotateX(-30deg) rotateY(45deg);
    .face {
      position: absolute;
      top: 0;
      left: 0;
      width: 100px;
      height: 100px;
      background-color: rgba(255, 165, 0, 0.9);
      border: 2px solid #000;
    }

    .front {
      width: 100px;
      height: 100px;
      transform: translateZ(50px);
    }

    .right {
      width: 100px;
      height: 100px;
      transform: rotateY(90deg) translateZ(-50px);
      background-color: rgba(30, 144, 255, 0.9);
    }

    .top {
      width: 100px;
      height: 100px;
      transform: rotateX(90deg) translateZ(50px);
      background-color: rgba(50, 205, 50, 0.9);
    }
  }
}

.slider-demo-block {
    max-width: 400px;
    display: flex;
    align-items: center;
  }
  .slider-demo-block .el-slider {
    margin-top: 0;
    margin-left: 12px;
  }
  .slider-demo-block .demonstration {
    font-size: 14px;
    color: var(--el-text-color-secondary);
    line-height: 44px;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0;
  }
  .slider-demo-block .demonstration + .el-slider {
    flex: 0 0 90%;
  }
