.qusetion-container {
  width: 90%;
  margin: 20px auto;
  h3 {
    padding: 10px 0;
    border-top: 1px solid #daecf6;
  }
  .question-body {
    padding: 10px 0;
    .question {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .select {
        padding: 10px 0;
        input {
          //accent-color: #409eff;
          margin: 0 5px 10px 20px;
        }
      }
    }
    .answer {
      div {
        .QR {
          display: flex;
          align-items: end;
          margin-top: 20px;
          img {
            width: 50px;
          }
        }
      }
    }
  }
}
.error {
  input {
    accent-color: red;
  }
}
