//设置全局样式
@import url('http://at.alicdn.com/t/c/font_4650120_qbtb5ow5az.css');
$base-button-color: #1e1e1e;

$base-tabbar-height: 60px;
$base-logo-height: 50px;

$base-login-size: 60px;
$base-register-size: 60px;

$base-normal-font-size: 15px;
