div{
  .box {
    display: flex;
    align-items: center;
    .logo-box {
      display: flex;
      align-items: center;
      cursor: pointer;
      padding-left: 10px;
      .logo {
        padding: 5px 0;
      }
      span {
        font-size: 20px;
        letter-spacing: 10px;
        font-weight: 500;
        margin-left: 10px;
        &::after {
          display: block;
          content: 'Geometry Smart';
          font-size: 10px;
          letter-spacing: 2px;
        }
      }
    }
    .source {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      cursor: pointer;
    }
  }

}