* ul {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    font-size: $base-normal-font-size;
  }
}

.ai-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: calc(100% - 50px);

  .box {
    display: flex;
    flex-direction: column;
    list-style: none;
    border-radius: 16px;
    width: 100%;

    li {
      background: #fff;
      border-radius: 16px;
      height: 100%;
      margin: 20px 0;

      iframe {
        width: 80vw;
        height: 80vh;
      }
    }
  }
}
