.container {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: calc(100% - 60px);
  background: #daecf6;

  .content {
    width: 95%;
    margin: 20px 0;
  }
}
