* ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  .content-range {
    width: 95%;
    margin: 0 auto;
  }

  li {
    width: calc(100% / 3 - 25px);
    border: 1px solid #daecf6;
    border-radius: 16px;
    box-shadow: #daecf6 2px 5px 10px;
    margin: 10px;
    cursor: pointer;

    .card-top {
      display: flex;
      align-items: center;
      margin-top: 5px;

      img {
        width: 40px;
      }

      span {
        margin-left: 10px;
      }
    }

    .reply-box {
      h4 {
        margin: 10px 0;
        letter-spacing: 1px;
      }

      p {
        color: #838383;
        margin: 10px 0;
      }
    }
  }
}
