* ul {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    font-size: $base-normal-font-size;
  }
}
.ai-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: calc(100% - 50px);

  .box {
    display: flex;
    flex-direction: column;
    list-style: none;
    border-radius: 16px;
    width: 100%;

    li {
      background: #fff;
      border-radius: 16px;
      height: 100%;
      margin: 20px 0;

      .range {
        width: 96%;
        margin: 0 auto;
      }

      .top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left {
          display: flex;
          align-items: center;

          img {
            width: 25px;
            padding: 10px 10px 10px 0;
          }
        }

        .right {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #fff;
          background: #008545;
          border: none;
          border-radius: 8px;
          padding: 5px 10px;
          margin-top: 20px;
          cursor: pointer;

          span {
            font-size: $base-normal-font-size;
            padding: 0 10px;
          }
        }
      }

      .content-box {
        height: 88%;
        box-shadow: #daecf6 0 10px 10px;
        border-radius: 32px 32px 0 0;
        margin-top: 10px;
      }
    }
  }
}
